.fondo1{
	height: 100vh;
   width: 100vw;
   min-height:100%;

background: #15aaef; 
background: -moz-linear-gradient(45deg, #15aaef 0%, #278af4 40%, #6e14ce 76%, #6211b2 94%); 
background: -webkit-linear-gradient(45deg, #15aaef 0%,#278af4 40%,#6e14ce 76%,#6211b2 94%); 
background: linear-gradient(45deg, #15aaef 0%,#278af4 40%,#6e14ce 76%,#6211b2 94%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15aaef', endColorstr='#6211b2',GradientType=1 ); 

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.formm{
    border-radius: 10px;

}
.fondo{
	background: url('../img/fondob.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    min-height:100%;
   -webkit-background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
    
}


.wrap {
    padding: 0px;
    border: 0px solid rgba(0,0,0,.125);
}

.user-img{
    margin-top: -70px;
    margin-bottom: 15px;
}

.modal-content{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 18px 18px;
    border-radius: 1rem;
    border: 0px solid rgba(0,0,0,.2); 
}

.modal-dialog{
    max-width: 720px;
}

.shadow {
   box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}



 .btn-custom {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6211b2+5,6e14ce+30,278af4+78,15aaef+100 */
background: #6211b2; /* Old browsers */
background: -moz-linear-gradient(left, #6211b2 5%, #6e14ce 30%, #278af4 78%, #15aaef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6211b2 5%,#6e14ce 30%,#278af4 78%,#15aaef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6211b2 5%,#6e14ce 30%,#278af4 78%,#15aaef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6211b2', endColorstr='#15aaef',GradientType=1 ); /* IE6-9 */
   border-color: #6211B2;
 }

.btn-custom:hover {
    color: #fff;
font-size:1.25rem;
background: #15aaef;
background: -moz-linear-gradient(left, #15aaef 0%, #278af4 22%, #6e14ce 70%, #6211b2 95%);
background: -webkit-linear-gradient(left, #15aaef 0%,#278af4 22%,#6e14ce 70%,#6211b2 95%);
background: linear-gradient(to right, #15aaef 0%,#278af4 22%,#6e14ce 70%,#6211b2 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15aaef', endColorstr='#6211b2',GradientType=1 );
   border-color: #15aaef;
 }

.btn-custom:active{
        color: #6211b2;
	background: #fff;
}

.ptop{
	padding-top: 6rem!important;
}

input{
	background-color: #d8d8d8;
}
