<div class="py-5 ptop fondo" ng-controller="loginController">
		    <div class="modal-dialog pt-5 justify-content-center">
		                <div class="col-sm-9  mx-auto wrap">
		                    <!-- form card login -->
		                    <div class="modal-content">
		                       
		                            <form class="form" name="loginForm" novalidate="">
		                            	<div class="col-12 text-center">
			                        		<img src="img/logo3.png" id="img1" class="img-fluid mx-auto user-img rounded-circle " width="120" alt=""/>
			                        		<h4 class="text-custom py-3">Coding Club Carazo</h4>
							             	<div id="alertmessage" class="hide"></div>
		                        	    </div>
		                                <div class="form-group" ng-class="{'has-error':'loginForm.email.$touched && loginForm.email.$invalid'}">
		                                    <input type="email" name="email" class="form-control form-control-lg rounded-0" placeholder="User Name" id="txtEmail" required="" ng-model="user.txtEmail">
											<div class="alert alert-danger alert-dismissable fade show" ng-show="loginForm.email.$touched && loginForm.email.$invalid">
												Por favor ingrese un email registrado
												 <button type="button" class="close" data-dismiss="alert" aria-label="close">
												 	<span aria-hidden="true">&times;</span>
												 </button>
											</div>
		                                </div>
		                                <div class="form-group" ng-class="{'has-error':'loginForm.password.$touched && loginForm.password.$invalid'}">
		                                    <input type="password" name="password" class="form-control form-control-lg rounded-0" id="txtPassword" placeholder="Password" autocomplete="current-password" required="" ng-model="user.txtPassword">
											
											<div class="alert alert-danger alert-dismissable fade show" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
												Por favor ingrese una contraseña valida
												 <button type="button" class="close" data-dismiss="alert" aria-label="close">
												 	<span aria-hidden="true">&times;</span>
												 </button>
											</div>
		                                </div>
										
		                                <button class="btn btn-custom btn-lg btn-block float-right" id="btnLogin" ng-disabled="loginForm.$invalid" ng-click="signIn()">Iniciar Sesion</button>
		                            </form>
		                    
		                         <!--/card-block-->
		                    </div>
		                    <!-- /form card login -->

		                </div>

		     </div>
		            <!--/row-->
	</div>
